{% extends "index.html" %}
{% block conteudo %}
<div class="invalid-feedback {{ invalid }}">{{ messanger }}</div>
<section class="container-fluid mt-4">
    <div class="d-flex my-5 w-100 justify-content-between align-items-center">
        <button data-toggle="modal" class="btn btn-primary"  data-target="#addUser">
            <i class="fas fa-plus fa-2x"></i>
        </button>
    </div>
</section>
<section class="container-fluid mt-4">
    {% for content in contents %}
    <div class="d-flex my-5 w-100 justify-content-between align-items-center">
        <h4>{{ content[0] }}</h4>
        <div class="btn-group dropleft">
            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-chevron-circle-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/delete/{{ content[1] }}">Apagar</a>
                <a class="dropdown-item" href="/listUser/{{ content[1] }}">Alterar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
